/* Your code here */

li{
    width: 100px;
    height: 100px;
    background-color: gray;
    border: 3px solid black;
    list-style: none;
    color: green
}

li:hover{
    background-color: yellow;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

.played-position {
background-color: white;
}

.ttt{
    height: 400px;
    width: 400px;
}