/* Your code here */

li{
    width: 100px;
    height: 100px;
    background-color: gray;
    border: 5px solid black;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover{
    background-color: yellow;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

.played-position {
    background-color: white;
    color: black;
    font-size: 80px;
}

.ttt{
    height: 400px;
    width: 400px;
}